.about{
    width: 100%;
    /* height: 100vh; */
    /* background-color: #dbd8e3; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("/assets/gallery/singapue2.jpg"); */
    background-size: cover;
    background-position: center;
    position: relative;
    /* overflow: hidden; */
    padding-bottom: 50px;
}
.about-main{
    width: 80%;
    display: flex;
    padding-top: 50px;
}
.about-left{
    display: flex;
    justify-content: center;
    width: 50%;
}
.about-right{
    position: relative;
    width: 80%;
    background-color: #d8d8d8;
    margin: 50px 50px 50px 0;
    overflow: hidden;
}
.about img{
    height: 500px;
    z-index: 5;
    bottom: -20px;
    object-fit: cover;
    border: 5px solid #26D48C;
    /* position: absolute; */
}
.about-des{
    padding: 30px;
    padding-right: 50px;
}
/* .about::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1); 
    backdrop-filter: blur(1px);
}
.about img{
    height: 650px;
    z-index: 5;
    bottom: 0;
    position: absolute;
}
.about-left{
    display: flex;
    justify-content: center;
    width: 50%;
    border: 2px solid black;
}
.about-right{
    position: relative;
    width: 80%;
    background-color: #c6b8c585;
    border-radius: 5px;
    margin: 50px 50px 50px 0;
    overflow: hidden;
    box-shadow: -2px -2px 4px rgba(0,0,0,0.4),
                 2px 2px 4px rgba(0,0,0,0.4);
    
}
.about-des{
    padding: 30px;
    padding-right: 50px;
}
.about-des h1{
    color: black;
    font-weight: 500;
    text-shadow: 0 2px 0 rgba(255,255,255,0.3);
    padding-bottom: 20px;

}
.about-content{
    position: absolute;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4f1c4c;
    width: 100%;
    height: 100%;
}
.about-content div{
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    background: #bda9b7;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
.about-content h1{
    font-size: 1.2rem;
}
.about-content p{
    font-weight: 200px;
    font-size: 14px;
}
@media(max-width:1300px){
    .about-right{
        width: 100%;
    }
    .about-left{
        width: 60%;
    }
    .about-des{
        padding: 20px;
    }
    .about-des h1{
        padding-bottom: 10px;
    }
}
@media(max-width:1230px){
    .about-right{
        width: 100%;
    }
    
}
@media(max-width:1100px){
    .about-right{
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    .about-left{
        width: 70%;
    }
    
} */