.footer{
    width: 100%;
    height: 40vh;
    background-color: #3E4095;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-main{
    width: 80%;
    height: 80%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    width: 30%;
    height: 90%;
    /* border: 1px solid white; */
    margin-right: 10px;
    color: white;
    padding: 0 30px;
}
.footer-content h3{
    margin-bottom: 15px;
}
.footer-content h2{
    margin-bottom: 15px;
    font-size: 1.4rem;
}
.social-icons{
    display: flex;
    align-items: center;
}
.social-icons span{
    margin-right: 10px;
}
.phone{
    display: flex;
}
.email{
    display: flex;
}
.location{
    display: flex;
}
.footer span{
    color: #26D48C;
}
/* .footer-left{
    width: 30%;
    height: 90%;
    border: 1px solid white;
    margin-right: 10px;
}
.footer-center{
    width: 30%;
    height: 90%;
    border: 1px solid white
}
.footer-right{
    width: 30%;
    height: 90%;
    border: 1px solid white
} */