.gallery {
  width: 100%;
  min-height: 100vh;
  background: #3E4095;
}
.gallery h1{
  text-shadow: 2px 2px 0px rgba(255,255,255,0.7);
  text-transform: uppercase;
  letter-spacing: 3px;
}
.gallery-main {
  /* width: 80%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  /* box-shadow: 4px 4px 2px rgba(0,0,0,0.5); */
}
.imgid img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.4s;
  border: 5px solid white;
}
.imgid img:hover {
  transform: scale(1.06);
}
.filter {
  /* background-color: wheat; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter button {
  padding: 3px 20px;
  width: 200px;
  box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
  background-color: white;
}
.all-btn {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.invest-btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.filter button.active {
  background-color: rgb(130, 124, 124);
  color: white;
}
.filter button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}
.lg-react-element {
  column-count: 4;
  gap: 20px;
}
@media screen and (max-width: 1300px) {
  .lg-react-element {
    column-count: 3;
  }
}
@media screen and (max-width: 950px) {
  .lg-react-element {
    column-count: 2;
  }
}
@media screen and (max-width: 550px) {
  .lg-react-element {
    column-count: 1;
  }
}
