.relative img{
    object-fit: cover;
    height: 500px;
}
.caption{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}
.caption h1{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    text-shadow: 2px 4px 0 rgba(0,0,0,0.8), 
                 2px 4px 0 rgba(0,0,0,0.8),
                 2px 4px 0 rgba(0,0,0,0.8);
                
    color: white; 
    word-spacing: 5px;   
    margin-bottom: 30px;        
}